h1, h2{font-family: font-family: 'Fira Sans', sans-serif;
margin-top: 90px; text-align: center;}
header {background: #e6b207;}
header {margin-left: 15px;}
header {margin-right: 15px;}
header {padding-left: 22px;}
header {padding-right: 150px;}
body {text-rendering: optimizeLegibility;}
h2 {font-size: 70px;}
h1 {font-size: 50px;}
img{max-width: 90%;}
p {font-size:50px; font-family: 'Fira Sans', sans-serif;
text-align: center;}
div {margin-top: 50px; margin-bottom: 50px;}
